<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.company.dao.companyinformation.CompanyArticleMapper">
	<insert id="addArticle" parameterType="int">
		insert into article(usersId,articleTitle,articleTime,articleKey,articleContent,articleStatus,articleUsersType) 
			values(#{usersId},#{articleTitle},#{articleTime},#{articleKey},#{articleContent},#{articleStatus},#{articleUsersType})
	</insert>
	<update id="updateArtContent">
		update article set articleContent=#{articleContent} where id=#{id}
	</update>
	<update id="updateStatus">
		update article set articleStatus=#{articleStatus} where id=#{id}
	</update>
	<update id="updateReadNum" parameterType="int">
		update article set articleReadNum=1+articleReadNum where id=#{id}
	</update>
	<update id="updateLikeNum" parameterType="int">
		update article set articleLikeNum=1+articleLikeNum where id=#{id}
	</update>
	<select id="findAll" resultType="Article">
		select * from article where usersId=#{usersId} and articleStatus!=4 and articleStatus!=3 and articleStatus!=1
		<if test="page!=null">
			limit #{page},10
		</if>
	</select>
	<select id="findById" parameterType="int" resultType="Article">
		select * from article where id=#{id}
	</select>
	<select id="getMaxRecordCount" resultType="int">
		select count(*) from article where articleStatus!=4 and articleStatus!=3 and articleStatus!=1
	</select>
</mapper>