<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.company.dao.companyResume.CompanyResumeMapper">
<select id="findAllResume" resultType="CompanyResume" parameterType="Integer">
	select * from companyResume c,resume r where c.companyId=#{companyId} and c.resumeId=r.id
</select>
<select id="findById" resultType="CompanyResume" parameterType="Integer">
	select * from companyResume c,resume r where r.id=#{id}
</select>
<update id="updateCmpResumeStatus" >
	update companyResume set cmprAction=#{cmprAction} where id=#{id}
</update>
<!-- 查看教育经历 -->
<select id="findEducation" parameterType="Integer" resultType="Education">
	select * from education where resumeId=#{resumeId} and not resumeType=4
</select>
<!-- 查看工作经历 -->
<select id="findWork" parameterType="Integer" resultType="Work">
	select * from work where resumeId=#{resumeId} and not resumeType=4
</select>
<!-- 查看项目经历 -->
<select id="findProject" parameterType="Integer" resultType="Project">
	select * from project where resumeId=#{resumeId} and not resumeType=4
</select>
</mapper>