<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.company.dao.companyResume.CompanyResumeMapper">
<select id="findAllResume" resultType="CompanyResume" parameterType="int">
	select * from companyResume c,resume r where c.companyId=#{companyId} and c.resumeId=r.id
</select>
<select id="getMaxRecordCount" resultType="int">
	select count(*) from companyResume where cmpRStatus != 3
</select>
<select id="findById" resultType="CompanyResume" parameterType="Integer">
	select * from companyResume c,resume r where r.id=#{id}
</select>
<update id="updateCmpResumeStatus" >
	update companyResume set cmprAction=#{cmprAction} where id=#{id}
</update>
</mapper>