<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.personal.dao.user.UserMapper">
    <!-- 注册 只有userId和userPassword，其余为一个默认值 -->
    <insert id="addUser" parameterType="User" >
        insert into `user` (userLoginId,userPassword,userName,userGender,userEmail,userRealName,userIDCard,userIDImgFace,userIDImgCon,userCreateDate,userHeadImgPath,userBirthday) 
        values(#{userLoginId},#{userPassword},#{userName},#{userGender},#{userEmail},#{userRealName},#{userIDCard},#{userIDImgFace},#{userIDImgCon},#{userCreateDate},#{userHeadImgPath},#{userBirthday})
    </insert>
    <!-- 完善用户信息（修改user表）：头像、性别、email、出生日期、昵称 -->
    <update id="updateUserOther" parameterType="Integer">
        update `user` set userHeadImgPath=#{userHeadImgPath},userGender=#{userGender},userEmail=#{userEmail},userBirthday=#{userBirthday},userName=#{userName} where id=#{id}
    </update>
    <!-- 实名认证（修改user表）：真实姓名、身份证号码、身份证图片(正反面) -->
    <update id="updateUserIDCord" parameterType="User">
        update `user` set userRealName=#{userRealName},userIDCard=#{userIDCard},userIDImgFace=#{userIDImgFace},userIDImgCon=#{userIDImgCon} where userLoginId=#{userLoginId}
    </update>
    <!-- 登录 :邮箱或手机号 -->
    <select id="findByUserIdAndUserPassword"  resultType="User">
        select * from  `user` where (userLoginId=#{userLoginId} or userEmail=#{userLoginId}) and userPassword=#{userPassword}
    </select>
    <!-- 修改用户信息：头像、密码、性别、email、出生日期、昵称 -->
	<update id="updateUser" parameterType="User">
	    update `user` set userHeadImgPath=#{userHeadImgPath},userPassword=#{userPassword},userGender=#{userGender},userEmail=#{userEmail},userBirthday=#{userBirthday},userName=#{userName} where id=#{id}
	</update>
	<!-- 修改用户密码 -->
	<update id="updateUserById" parameterType="User">
	    update `user` set userPassword=#{userPassword} where userLoginId=#{userLoginId}
	</update>
	<!-- 根据id查询用户（显示用户信息） -->
	<select id="selectUserById" resultType="User" parameterType="Integer">
	    select * from `user` where id=#{id}
	</select>
	<!-- 充值 -->
	<update id="updateMoney" >
	    update `user` set userMoney=userMoney+#{userMoney} where id=#{id}
	</update>
	<select id="Search" resultType="String">	    
	</select>
	<!-- 充值记录 -->
	<insert id="addUserCharge" parameterType="UserCharge">
		insert into usercharge(userId,userChargeTime,userChargeMoney,userChargeType,userChargeContent) value(#{userId},#{userChargeTime},#{userChargeMoney},#{userChargeType},#{userChargeContent})
	</insert>
</mapper>