<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ynjh.admin.dao.companyvisitcount.CompanyVisitMapper">
	<!--每日自增加记录-->
	<insert id="addcompanyVisitCount" parameterType="CompanyVisitCount" >
		insert into companyvisitcount (id,companyYear,companyMoth,companyDay,companyResumeCount,companyId) value(#{id},#{companyYear},#{companyMoth},#{companyDay},#{companyResumeCount},#{companyId})
	</insert>
	<!--访问数修改-->
	<update id="updatecompanyVisitCount" parameterType="CompanyVisitCount">
		update companyvisitcount set id=#{id},companyInfoCount=#{companyInfoCount},companyResumeCount=#{companyResumeCount},companyId=#{companyId};
	</update>
	<!-- 显示访问量 -->
	<select id="findAll" parameterType="CompanyVisitCount">
		select * from companyvisitcount
			<if test="page!=mull">
				limit #{page},5
			</if>
	</select>
	
    <select id="findById" parameterType="int" resultType="CompanyVisitCount">
        select * from companyvisitcount where id=#{id}
    </select>
    <select id="findcompanyInfoCountAndcompanyResumeCount" resultType="CompanyVisitCount">
        select * from companyvisitcount where companyYear=#{companyYear}
        <if test="companyMonth!=null and companyMonth!=''"> 
        and companyMonth=#{companyMonth}
        </if>
        <if test="companyDay!=null and companyDay!=''">
        and companyDay=#{companyDay}</if>
    </select>
    <select id="getMaxRecord" resultType="int">
        select count(*) from companyvisitcount
    </select>	
</mapper>