<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.company.dao.companyrecruit.CompanyRecruitMapper">
<insert id="addCompanyRecruit" parameterType="CompanyRecruit">
		insert into companyRecruit (cmpRecTitle,cmpRecWage,cmpRecEducation,cmpRecExperience,cmpRecPeople,cmpRecTime,cmpRecStatus,companyId) values(#{cmpRecTitle},#{cmpRecWage},#{cmpRecEducation},#{cmpRecExperience},#{cmpRecPeople},#{cmpRecTime},#{cmpRecStatus},#{companyId})
</insert>
<update id="updateCmpRecruit" parameterType="CompanyRecruit">
		update companyRecruit set cmpRecWage=#{cmpRecWage},
		cmpRecEducation=#{cmpRecEducation},cmpRecExperience=#{cmpRecExperience},
		cmpRecPeople=#{cmpRecPeople} where id=#{id}
</update>
<update id="updateCmpRecStatus" parameterType="Int">
		update companyRecruit set cmpRecStatus=#{cmpRecStatus} where id=#{id}
</update>
<select id="findAll" resultType="CompanyRecruit">
		select * from companyRecruit
	<if test="page!=null">
		limit #{page},20
	</if>
</select>
<select id="findById" parameterType="int" resultType="CompanyRecruit">
	select * from companyRecruit where id=#{id}
</select>
<select id="getMaxRecordCount" resultType="int">
	select count(*) from companyRecruit where cmpRecStatus != 3
</select>
</mapper>