<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.personal.dao.resume.ResumeMapper">
	<!-- 添加简历 userId,resumeTitle,resumeCreateDate,resumeName,resumeGender ,resumeNation,resumePlace,resumeBirthday,resumeMarriage 
		,resumeGraduationSchool,resumeGraduationTime,resumeEducation ,resumeMajor,resumeWages,resumePhone,resumeQQ,resumePersonality 
		,resumeSelfEvaluation,resumeHeight,resumeWeight -->
	<insert id="addResume" parameterType="Resume">
		insert into
		resume(userId,resumeTitle,resumeCreateDate,resumeName,resumeGender,resumeNation,
		resumePlace,resumeBirthday,resumeMarriage,resumeGraduationSchool,resumeGraduationTime,
		resumeEducation,resumeMajor,resumeWages,resumePhone,resumeQQ,resumePersonality,
		resumeSelfEvaluation,resumeHeight,resumeWeight,resumeJor,resumeHeadImg,resumeWorks)
		values(#{userId},#{resumeTitle},#{resumeCreateDate},#{resumeName},#{resumeGender},#{resumeNation},
		#{resumePlace},#{resumeBirthday},#{resumeMarriage},#{resumeGraduationSchool},#{resumeGraduationTime},
		#{resumeEducation},#{resumeMajor},#{resumeWages},#{resumePhone},#{resumeQQ},#{resumePersonality},
		#{resumeSelfEvaluation},#{resumeHeight},#{resumeWeight},#{resumeJor},#{resumeHeadImg},#{resumeWorks})
	</insert>
	<!-- 修改简历 -->
	<update id="updateResume" parameterType="Integer">
		update resume set
		resumeTitle=#{resumeTitle},resumeName=#{resumeName},resumeGender=#{resumeGender},resumeNation=#{resumeNation},
		resumePlace=#{resumePlace},resumeBirthday=#{resumeBirthday},resumeMarriage=#{resumeMarriage},resumeGraduationSchool=#{resumeGraduationSchool},resumeGraduationTime=#{resumeGraduationTime},
		resumeEducation=#{resumeEducation},resumeMajor=#{resumeMajor},resumeWages=#{resumeWages},resumePhone=#{resumePhone},resumeQQ=#{resumeQQ},resumePersonality=#{resumePersonality},
		resumeSelfEvaluation=#{resumeSelfEvaluation},resumeHeight=#{resumeHeight},resumeWeight=#{resumeWeight},resumeHeadImg=#{resumeHeadImg},resumeWorks=#{resumeWorks}
		where id=#{id}
	</update>
	<!-- 查询简历(所有) -->
	<select id="selectResumeByUserId" resultType="Resume">
		select * from resume where userId=#{userId}
		<if test="page!=null">
			limit #{page},5
		</if>
	</select>
	<!-- 查询简历(详细) -->
	<select id="selectResumeById" resultType="Resume" parameterType="Integer">
		select * from resume where id=#{id}
	</select>
	<!-- 查询最新简历(详细) -->
	<select id="selectNewlyResumeByUserId" resultType="Resume" parameterType="Integer">
		select * from resume where userId=#{userId} order by resumeCreateDate desc limit 1
	</select>
	<!-- 删除简历 -->
	<update id="deleteResumeById" parameterType="Integer">
		update resume set resumeStatusThree=4 where id=#{id}
	</update>
	
	
	<!-- 恢复简历 -->
	<update id="renewResumeById" parameterType="Integer">
		update resume set resumeStatusThree=1 where id=#{id}
	</update>

	<!-- 开始 -->
	<!-- 教育培训记录 -->
	<insert id="addEducation" parameterType="Education">
		insert into
		education(userId,resumeId,educationBeginTime,educationEndTime,educationSchool,educationContent)
		value(#{userId},#{resumeId},#{educationBeginTime},#{educationEndTime},#{educationSchool},#{educationContent})
	</insert>
	<!-- 工作记录 -->
	<insert id="addWork" parameterType="Work" >
		insert into
		work(userId,resumeId,workBeginTime,workEndTime,workFirmName,workUnit,workDescription)
		value(#{userId},#{resumeId},#{workBeginTime},#{workEndTime},#{workFirmName},#{workUnit},#{workDescription})
	</insert>
	<!-- 项目经验 -->
	<insert id="addProject" parameterType="Project">
		insert into
		project(userId,resumeId,projectBeginTime,projectEndTime,projectName,projectJob,projectDescription)
		value(#{userId},#{resumeId},#{projectBeginTime},#{projectEndTime},#{projectName},#{projectJob},#{projectDescription})
	</insert>

	<update id="updateEducation" parameterType="Education">
		update education set
		educationBeginTime=#{educationBeginTime},educationEndTime=#{educationEndTime},educationSchool=#{educationSchool},educationContent=#{educationContent}
		where resumeId=#{resumeId}
	</update>
	<update id="updateWork" parameterType="Work">
		update work set
		workBeginTime=#{workBeginTime},workEndTime=#{workEndTime},workFirmName=#{workFirmName},workUnit=#{workUnit},workDescription=#{workDescription}
		where resumeId=#{resumeId}
	</update>
	<update id="updateProject" parameterType="Project">
		update project set
		projectBeginTime=#{projectBeginTime},projectEndTime=#{projectEndTime},projectName=#{projectName},projectJob=#{projectJob},projectDescription=#{projectDescription},projectMakeDescription=#{projectMakeDescription}
		where resumeId=#{resumeId}
	</update>

	<select id="findEducation" parameterType="Integer" resultType="Education">
		select * from education where resumeId=#{resumeId} and not resumeType=4
	</select>
	<select id="findWork" parameterType="Integer" resultType="Work">
		select * from work where resumeId=#{resumeId} and not resumeType=4
	</select>
	<select id="findProject" parameterType="Integer" resultType="Project">
		select * from project where resumeId=#{resumeId} and not resumeType=4
	</select>

	<!-- 删除 -->
	<update id="deleteEducation" parameterType="Integer">
		update education set resumeType=4 where id=#{id}
	</update>
	<update id="deleteWork" parameterType="Integer">
		update work set resumeType=4 where id=#{id}
	</update>
	<update id="deleteProject" parameterType="Integer">
		update project set resumeType=4 where id=#{id}
	</update>
	<!-- 删除结束 -->
	<!-- 已删除记录 -->
	<select id="findEducationByDelete" resultType="ForeignKeyEducation">
	select r.resumeTitle,e.* from resume r,education e where e.resumeId=r.id  and resumeType=4 and e.userId=#{userId}
	<if test="page!=null">
			limit #{page},5
		</if>
	</select>
	<select id="findWorkByDelete" resultType="ForeignKeyWork">
	select r.resumeTitle,w.* from resume r,work w where w.resumeId=r.id  and resumeType=4 and w.userId=#{userId}
	<if test="page!=null">
			limit #{page},5
		</if>
	</select>
	<select id="findProjectByDelete" resultType="ForeignKeyProject">
	select r.resumeTitle,p.* from resume r,project p where p.resumeId=r.id  and resumeType=4 and p.userId=#{userId}
	<if test="page!=null">
			limit #{page},5
		</if>
	</select>
	<!-- 已删除记录结束 -->
	<!-- 恢复被删记录 -->
	<update id="renewEducationByDelete" parameterType="Integer">
		update education set resumeType=1 where id=#{id}
	</update>
	<update id="renewWorkByDelete" parameterType="Integer">
		update work set resumeType=1 where id=#{id}
	</update>
	<update id="renewProjectByDelete" parameterType="Integer">
		update project set resumeType=1 where id=#{id}
	</update>
	<!-- 恢复被删记录结束 -->

	<!-- 分页 -->
	<!-- 查询此ID的简历数量 -->
	<select id="getMaxResumeById" resultType="Integer">
		select count(*) from resume where userId=#{userId}
	</select>

	<select id="getMaxEducationDeleteById" resultType="Integer">
		select count(*) from education where userId=#{userId} and resumeType=4
	</select>
	<select id="getMaxWorkDeleteById" resultType="Integer">
		select count(*) from work where userId=#{userId} and resumeType=4
	</select>
	<select id="getMaxProjectDeleteById" resultType="Integer">
		select count(*) from project where userId=#{userId} and resumeType=4
	</select>
	<!-- 分页结束 -->
	<!-- 发送简历 -->
	<!-- <insert id="">
		insert into 
	</insert> -->

</mapper>