<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.personal.dao.resume.RresumeMapper">
    <!-- 添加简历
    	userId,resumeTitle,resumeCreateDate,resumeName,resumeGender
   	 	,resumeNation,resumePlace,resumeBirthday,resumeMarriage
    	,resumeGraduationSchool,resumeGraduationTime,resumeEducation
    	,resumeMajor,resumeWages,resumePhone,resumeQQ,resumePersonality
    	,resumeSelfEvaluation,resumeHeight,resumeWeight -->
 <!--    <insert id="addResume" parameterType="Resume">
        insert into resume(userId,resumeTitle,resumeCreateDate,resumeName,resumeGender,resumeNation,resumePlace,resumeBirthday,resumeMarriage,resumeGraduationSchool,resumeGraduationTime,resumeEducation,resumeMajor,resumeWages,resumePhone,resumeQQ,resumePersonality,resumeSelfEvaluation,resumeHeight,resumeWeight) 
        values(#{userId},#{resumeTitle},#{resumeCreateDate},#{resumeName},)
    </insert> -->
</mapper>