<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.company.dao.discuss.CompanyDiscussMapper">
	<insert id="addDiscuss" parameterType="Discuss">
		insert into discuss(discussUsersId,discussContent,discussLevel,discussTime,discussSendType,discussBySendId)
		value(#{discussUsersId},#{discussContent},#{discussLevel},#{discussTime},#{discussSendType},#{discussBySendId})
	</insert>
	<update id="updateDiscussStatus">
		update discuss set discussStatus=#{discussStatus} where id=#{id}
	</update>
	<select id="findById" parameterType="int" resultType="Discuss">
		select * from discuss where id=#{id}
	</select>
	<select id="findAll" resultType="Discuss">
		select * from discuss where discussStatus!=4 and discussStatus!=3 and discussStatus!=1
	</select>
</mapper>