<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.personal.dao.follow.FollowMapper">
<!-- 添加关注 -->
	<insert id="addUserFollow" parameterType="Follow">
		insert into follow (followId,byFollowId,followDate,followStartType) value(#{followId},#{byFollowId},#{followDate},#{followStartType})
	</insert>
<!--取消关注  -->
	<delete id="deleteUserFollow">
		delete from follow where followId=#{followId} and byFollowId=#{byFollowId}
	</delete>
<!--查看关注-->
	<select id="selectUserFollow" parameterType="Integer" resultType="Follow">
		select * from follow where followId=#{followId}
	</select> 
	<!--查看关注的人数-->
	<select id="selectUserFollowCount" parameterType="Integer" resultType="Integer">
		select count(*) from follow where followId=#{followId}
	</select>
	<!--查看被关注的人数-->
	<select id="selectUserByFollowCount" parameterType="Integer" resultType="Integer">
		select count(*) from follow where byFollowId=#{byFollowId}
	</select> 
</mapper>