/*
 * 导航栏背景色：linear-gradient(to bottom,#fa941b,#fe6000)
 */
hr{
	border-top:1px dotted #afafaf;
}
.work-together-background{
    	background-image: linear-gradient(to bottom,#fe6000,#fff);
}
.work-together-shadow{
    		box-shadow: 3px 3px 6px 3px #e7e9e8;
}
.work-together-font-small{
    	font-size: 10px;
}
.work-together-red{
	color:#fa941b;
}
/* 登录/注册表单最外边的边框线样式 */
.wrok-together-login-border{
	border: 1px dotted #fa941b;
	padding: 20px 30px;
	border-radius: 13px;
}
/* 设置一个通用的无序列表的样式，让列表项之间的间隔拉大 */
.work-together-list li{
	margin-bottom:10px;
}
/* 设置子标题与标题之间的间隔，缩小它们之间的间隔 */
.work-together-subtitle{
	margin-top:-8px;
}
/* .work-together-deep{
    	background-color: #f98905;
} */
/*文字右对齐*/
.work-together-right{
    	text-align: right;
}
/*文字的浅色灰度*/
.work-together-text-shallow{
	color:#b2b0af;
}
/*背景的浅红色*/
/* .work-together-shallow{
    	background-color: #fe6000;
} */
.navbar-default .navbar-text{
    		color:#fff;
}
.navbar-default	.navbar-nav li a{
		color:#777;
}
.navbar-default	.navbar-nav .active a{
		color:#000;
		background-color:#fcdab1;
}
body{
	padding-top:100px ;
}
/*
 * 指定导航栏上的字体颜色为白色
 */
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{
	color:#fff;
}
/* 鼠标放到导航栏上的文字出现一个下划线 */
ul.work-together-nav>li>a:hover{
	border-bottom: 4px solid #fe6000;
	padding-bottom:11px;
}
/*
 * 选中，激活之后的背景及字体颜色
 */
   .nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus{
   	color:#000;
   	background-color: #fcdab1;
   }
   /* 默认超链接的样式 */
   a{
   	color:#777;
   }
   a:focus, a:hover{
		color:#fa941b;
	}
   .sidebar{
   		background-color: #eef8fd;
   }
/* 默认按钮样式的修正 */
.btn-success,.btn-primary{
	background-color: #fa941b;
	border-color: #fd6001;
}
.btn-success:hover,.btn-primary:hover,
.btn-success:focus,.btn-primary:focus,
.btn-success:active,.btn-primary:active,
.btn-success:active:focus,.btn-primary:active:focus,
.btn-success[disabled]:hover,.btn-primary[disabled]:hover{
	background-color:#be5515;
	border-color: #e56618;
}
/* 重设面板的内间隔，原来的感觉太宽了 */
.panel-body{
	padding: 30px;
}

/* 牟勇：解决各大浏览器可以拖动textarea的问题 */
textarea{
	resize: none;
}

.tab-pane form .form-group{
	margin-bottom:25px;
}

