/*
 * 导航栏背景色：linear-gradient(to bottom,#fa941b,#fe6000)
 */
hr{
	border-top:1px dotted #afafaf;
}
.work-together-background{
    	background-image: linear-gradient(to bottom,#fe6000,#fff);
}
.work-together-shadow{
    		box-shadow: 3px 3px 6px 3px #e7e9e8;
}
.work-together-font-small{
    	font-size: 10px;
}
.work-together-red{
	color:#fa941b;
}
/* .work-together-deep{
    	background-color: #f98905;
} */
/*文字右对齐*/
.work-together-right{
    	text-align: right;
}
/*文字的浅色灰度*/
.work-together-text-shallow{
	color:#b2b0af;
}
/*背景的浅红色*/
/* .work-together-shallow{
    	background-color: #fe6000;
} */
.navbar-default .navbar-text{
    		color:#fff;
}
.navbar-default	.navbar-nav li a{
		color:#777;
}
a:focus, a:hover{
	color:#fa941b;
}
.navbar-default	.navbar-nav .active a{
		color:#000;
		background-color:#fcdab1;
}
 body{
	padding-top:100px ;
} 
/*
 * 指定导航栏上的字体颜色为白色
 */
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{
	color:#fff;
}
/* 鼠标放到导航栏上的文字出现一个下划线 */
ul.nav>li>a:hover{
	border-bottom: 4px solid #fe6000;
	padding-bottom:11px;
}
/*
 * 选中，激活之后的背景及字体颜色
 */
   .nav-sidebar > .active > a, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus{
   	color:#000;
   	background-color: #fcdab1;
   }
   a{
   	color:#777;
   }
   .sidebar{
   	background-color: #eef8fd;
   }

.btn-success{
	background-color: #fa941b;
	border-color: #fd6001;
}
.btn-success:hover{
	background-color:#be5515;
	border-color: #e56618;
}
.panel-body{
	padding: 30px;
}