<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 牟勇：文章类型的映射类 -->
<mapper namespace="ynjh.common.dao.ArticleTypeMapper">
<!-- 查询管理员可以使用的资讯分类名称 articleTypeOwner的值：1个人用户专用，2企业用户专用，4管理员用户专用，3是个人用户企业用户共用，5是个人管理员共用，6是企业管理员共用，7是三者共用-->
<select id="findNewsTypeForAdmin" resultType="ArticleType">
	select * from articleType where articleTypeOwner between 4 and 7
</select>
<!-- 查询个人用户可以使用的文章分类名称 articleTypeOwner的值：1个人用户专用，2企业用户专用，4管理员用户专用，3是个人用户企业用户共用，5是个人管理员共用，6是企业管理员共用，7是三者共用-->
<select id="findArticleTypeForPersonal" resultType="ArticleType">
	select * from articleType where articleTypeOwner in(1,3,5,7)
</select>
<!-- 查询企业用户可以使用的文章分类名称 articleTypeOwner的值：1个人用户专用，2企业用户专用，4管理员用户专用，3是个人用户企业用户共用，5是个人管理员共用，6是企业管理员共用，7是三者共用-->
<select id="findArticleTypeForCompany" resultType="ArticleType">
	select * from articleType where articleTypeOwner in(2,3,6,7)
</select>
</mapper>