<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ynjh.company.dao.offer.CompanyOfferMapper">

	<insert id="addOffer" parameterType="Offer">
		insert into offer(userId,companyId,offerJob,offerContent,offerInvitationTime,offerSendTime)
		values(#{userId},#{companyId},#{offerJob},#{offerContent},#{offerInvitationTime},#{offerSendTime})
	</insert>	
	<update id="updateOfferAction" parameterType="int">
		update offer set offerAction=#{offerAction} where id=#{id}
	</update>
	
	<select id="findCompanyOffers" parameterType="int" resultType="Offer">
		select o.*,u.userName from offer as o,user as u
		where o.companyId=#{companyId} and o.userId=u.id and o.offerStatus=2
		<!-- 语法：limit 开始记录号（从0开始），每页记录条数 -->
		<if test="page!=null">limit #{page},5</if>
	</select>
	<select id="getCompanyOffersRecord" parameterType="int" resultType="int">
		select count(*) from offer where companyId=#{companyId} and offerStatus=2
	</select>
	<select id="findCompanyOffer" parameterType="int" resultType="Offer">
		select o.*,u.userName from offer as o,user as u
		where o.Id=#{Id} and o.userId=u.id
	</select>
	
	<select id="findUserOffers" parameterType="int" resultType="Offer">
		select o.*,c.companySimpleName from offer as o,company as c
		where o.userId=#{userId} and o.companyId=c.id and o.offerStatus=2
		<!-- 语法：limit 开始记录号（从0开始），每页记录条数 -->
		<if test="page!=null">limit #{page},5</if>
	</select>
	<select id="getUserOffersRecord" parameterType="int" resultType="int">
		select count(*) from offer where userId=#{userId} and offerStatus=2
	</select>
	<select id="findUserOffer" parameterType="int" resultType="Offer">
		select o.*,c.companyName from offer as o,company as c
		where o.Id=#{Id} and o.companyId=c.id
	</select>
	
</mapper>