<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ynjh.company.dao.offer.CompanyOfferMapper">

	<insert id="addOffer" parameterType="Offer">
		insert into offer(userId,companyId,offerJob,offerContent,offerInvitationTime,offerSendTime)
		values(#{userId},#{companyId},#{offerJob},#{offerContent},#{offerInvitationTime},#{offerSendTime})
	</insert>
	
	<update id="updateOfferAction" parameterType="int">
		update offer set offerAction=#{offerAction} where id=#{id}
	</update>	
	
	<select id="findCompanyOffers" resultType="Offer" parameterType="int">
		select * from offer
		<!-- select o.*,userName from offer o,user -->
		<!-- where companyId=#{companyId} and o.userId=user.id and offerStatus=2 -->
	</select>
	<select id="findUserOffers" resultType="Offer" parameterType="int">
		select o.*,companySimpleName from offer o,company
		where userId=#{userId} and o.companyId=company.id and offerStatus=2
	</select>
	<select id="findCompanyOffer" resultType="Offer" parameterType="int">
		select * from offer 
		where id=#{id}
	</select>
	<select id="findUserOffer" resultType="Offer" parameterType="int">
		select * from offer
		where id=#{id}
	</select>
	
	<select id="findAll" resultType="Offer" parameterType="int">
		select * from offer 
		<!-- <if test="page!=null">
			limit #{page},5
		</if>		 -->
	</select>
	
	<select id="getMaxRecord" resultType="int">
		select count(*) from offer
	</select>
	
</mapper>