<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.admin.dao.admin.AdminMapper">

	<insert id="messagePushArticle" >	<!-- 消息推送 -->
		insert into message(userId,resendId,messageContent,messageSendTime,messageResendStatus,messageSendStatus,messageStatus) values(#{userId},#{resendId},#{messageContent},#{messageSendTime},#{messageResendStatus},2,3) 
	</insert>
	<!-- 新增消息内容 -->
	<insert id="addMessage" parameterType="SystemMessage">	
		insert into systemMessage(sysmContent,sysmCreateTime,sysmScope,adminId) values(#{sysmContent},#{sysmCreateTime},#{sysmScope},#{adminId}) 
	</insert>
	<!--禁用普通用户  -->
	<update id="disableUser">
		update user set userStatus=#{userStatus} where id=#{userId}
	</update>
	<!--禁用企业用户  -->
	<update id="disableCompany">
		update company set company=#{companyStatus} where companyId=#{companyId}
	</update>
	
	<update id="auditResume" ><!-- 简历审核 -->
		update resume set resumeStatusThree=#{resumeStatusThree}  where id=#{id}
	</update>
	
	<update id="auditArticle"><!-- 文章审核 -->
		update article set articleStatus=#{articleStatus} where id=#{articleId}
	</update>
	
	<update id="auditCommentsArticle" parameterType="CommentArticle"><!-- 文章评论审核 -->
		update commentArticle set commentArticleStatus=#{commentArticleStatus} where id=#{id}
	</update>
	
	<update id="auditCompany"><!-- 企业资质审核 -->
		update company set companyStatus=#{companyIntStatus} where id=#{id}
	</update>
	
	<update id="auditCommentsCompanyAndPeople" parameterType="Discuss"><!-- 个人企业互评论审核 -->
		update discuss set discussStatus=#{discussStatus} where id=#{id}
	</update>
	
	<update id="auditInfo" parameterType="Message"><!-- 新闻审核 -->
		update message set messageSendStatus=#{messageSendStatus} where id=#{id}
	</update>
	
	<update id="auditOffer" parameterType="Offer"><!-- offer审核 -->
		update offer set offerType=#{offerType} where id=#{id}
	</update>
	
	<update id="auditRecruitment"><!-- 招聘信息审核 -->
		update companyrecruit set cmpRecStatus=#{cmpRecStatus} where id=#{id}
	</update>
	
	<!-- <select id="findAuditCompany" resultType="Company">查询企业资质审核
		select * from company where cmpIntStatus=1 
		<if test="page!=null">
			limit #{page},10
		</if>
		order by companyId
	</select> -->
	
	<update id="maIntegerainAdmin" parameterType="Admin"><!-- 信息维护改 -->
		update admin set adminName=#{adminEmail},adminTel=#{adminTel},adminEmail=#{adminEmail} where id=#{id}
	</update>
	<!-- 审核简历工作经历 -->
	<update id="auditingWork">
		update work set resumeType=#{resumeType} where resumeId=#{resumeId}
	</update>
	<!-- 审核简历项目经历 -->
	<update id="auditingProject">
		update project set resumeType=#{resumeType} where resumeId=#{resumeId}
	</update>
	<!-- 审核简历培训经历 -->
	<update id="auditingEducation">
		update education set resumeType=#{resumeType} where resumeId=#{resumeId}
	</update>
	<!-- 审核企业基本信息 -->
	<update id="auditCompanyNo">
		update companyintroduction set cmpIntStatus=#{cmpIntStatus} where companyId=#{companyId}
	</update>
	
	<!--查询普通用户状态  -->
	<select id="findUser" resultType="User">
		select * from user limit #{page},10
	</select>
	<!-- 查询企业用户状态 -->
	<select id="findCompany" resultType="Company">
		select * from  company limit #{page},10
	</select>
	
	<select id="findAuditResume" resultType="Resume"><!-- 查询简历审核 -->
		select * from resume order by resumeStatusThree,resumeCreateDate desc
	</select>
	
	<select id="findAuditArticle" resultType="AuditArticle"><!-- 查询文章审核 -->
		select a.*,u.userLoginId,u.userName from article a,`user` u where a.usersId=u.id order by a.articleTime,a.articleStatus limit #{page},10 
	</select>
	
	<select id="findAuditCommentsArticle" resultType="CommentArticle"><!-- 查询文章评论审核 -->
		select * from commentArticle order by commentArticleStatus,commentArticleTime desc limit #{page},10
	</select>
	
	<select id="findAuditCompany" resultType="Company"><!-- 查询企业资质审核 -->
		select * from companyIntroduvtion where cmpIntStatus=1 limit #{page},10 order by companyId
	</select>
	
	<select id="findAuditCommentsCompanyAndPeople" parameterType="Integer" resultType="Discuss"><!-- 查询个人企业互评论审核 -->
		select * from discuss  
		order by discussTime desc
	</select>
	
	<select id="findAuditComArticle" resultType="AuditArticle" parameterType="Integer"><!-- 查询新闻审核 -->
		select a.*,c.* from article a,company c where a.articleUsersType=1 and a.usersId=c.id
		order by a.articleStatus,a.articleTime
		limit #{page},10
	</select>
	
	<select id="findAuditOffer" resultType="AuditOffer" parameterType="Integer" ><!-- 查询offer审核 -->
		select o.*,c.*,u.* from offer as o,company as c,user as u where o.companyId=c.id and o.userId=u.id order by o.offerStatus,o.offerSendTime limit #{page},10
	</select>
	
	<select id="findAuditRecruitment" resultType="CompanyRecruit"><!-- 查询招聘信息审核 -->
		select * from companyrecruit order by cmpRecStatus,cmpRecTime,companyId limit #{page},10
	</select>
	
	<select id="findByAdminId" resultType="Admin" parameterType="String"><!-- 信息维护查询 -->
		select * from admin where adminLoginId=#{adminId} limit #{page},10
	</select>
	
	<!--个人热门文章 -->
	<!-- 只选取个人发表的已通过审核的文章 -->
	<select id="findPersonBestArticle" resultType="AuditArticle">
		select a.*,u.* from article as a,user as u where  a.usersId=u.id and a.articleUsersType=2 and a.articleStatus=2 order by articleReadNum desc limit 10
	</select>
	<!--企业热门文章 -->
	<select id="findCompanyBestArticle" resultType="Article">
		select * from article where articleUsersType=1 order by articleReadNum desc limit 10
	</select>
	<!--最佳企业id -->
	<select id="findCompanyId" resultType="Integer">
		select discusUsersType from discuss group by(discusUsersType) order by sum(discussLevel) desc limit 10 
	</select>
	<!-- 找到企业 -->
	<select id="findCompanyById" parameterType="Integer" resultType="Company">
		select * from company where companyLoginId=#{companyLoginId}
	</select>
	<!-- 获得最大信息数 -->
	<select id="findMaxPage" resultType="Integer">
		select count(*) from admin
	</select>
	<!-- 登录退出 -->
	<select id="findLogin" resultType="Admin"><!-- 登录 -->
		select * from admin where adminLoginId=#{adminLoginId} and
			adminPassword=#{adminPassword} 
	</select>
	
	<select id="findAuditResumeById" resultType="Resume" parameterType="int"><!-- 查询简历审核ById -->
		select * from resume where id=#{id}
	</select>
	
	<select id="findAuditArticleById" resultType="AuditArticle" parameterType="int"><!-- 查询文章审核ById -->
		select a.*,group_concat(DISTINCT u.userLoginId) userLoginId,group_concat(DISTINCT u.userName) userName,group_concat(DISTINCT c.companyName) companyName from article as a,`user` as u,`company` as c where a.id=#{id} and ((case when a.articleUsersType=1 then a.usersId=c.id end) or (case when a.articleUsersType=2 then a.usersId=u.id end)) 
	</select>
	
	<select id="findAuditCommentsArticleById" resultType="CommentArticle" parameterType="int"><!-- 查询文章评论审核ById -->
		select * from commentArticle where commentArticleStatus=1 and id=#{id}
	</select>
	
	<select id="findAuditCompanyById" resultType="Company" parameterType="Integer"><!-- 查询企业资质审核ById -->
		select * from company where id=#{id}
	</select>
	
	<select id="findAuditCommentsCompanyAndPeopleById" resultType="Discuss" ><!-- 查询个人企业互评论审核ById -->
		select * from discuss where discussStatus=1 and id=#{id}
	</select>
	
	<select id="findAuditInfoById" resultType="Message"><!-- 查询新闻审核ById -->
		select * from message where messageSendStatus=1 and id=#{id}
	</select>
	
	<select id="findAuditOfferById" resultType="Offer" ><!-- 查询offer审核ById -->
		select * from offer where offerType=1 and id=#{id}
	</select>
	
	<select id="findAuditRecruitmentById" resultType="CompanyRecruit" parameterType="Integer"><!-- 查询招聘信息审核ById -->
		select * from companyrecruit where id=#{id}
	</select>
	
	<!-- 根据管理员登录名查找管理员 -->
	<select id="findAdminByAdminLoginId" resultType="Admin" parameterType="String">
		select * from admin where adminLoginId=#{adminLoginId}
	</select>
	<!-- 5条简历显示 -->
	<select id="find5Resumes" resultType="Resume">
		select * from resume where resumeStatusThree=1 order by resumeCreateDate  limit 5
	</select>
	<!-- 5条文章显示 -->
	<select id="find5Articles" resultType="AuditArticle">
		select a.*,group_concat(DISTINCT u.userLoginId) usersId,group_concat(DISTINCT u.userName) userName,group_concat(DISTINCT c.companyName) companyName
		from article a,`user` u,company c 
		where a.articleStatus=1 and ((case when  a.articleUsersType=2 then a.usersId=u.id end) or (case when a.articleUsersType=1 then c.id=a.usersId end)) 
		group by a.id
		order by a.articleStatus,articleTime desc limit 5
	</select>
	<!-- 5条评论显示 -->
	<select id="find5Discuss" resultType="AuditDiscuss">
		select d.*,group_concat(DISTINCT u.userName) userName,group_concat(DISTINCT c.companyName) companyName,d.discussUsersId,cd.discussUserName
		from discuss d,`user` u,company c,(select u.id,u.userName discussUserName from discuss d,`user` u where d.discussUsersId=u.id) cd
		where d.discussUsersId=cd.id and ((case when  d.discussSendType=2 then d.discussBySendId=u.id end) or (case when d.discussSendType=1 then c.id=d.discussBySendId end))
		group by d.id
        order by d.discussStatus,d.discussTime desc limit 5
	</select>
	<!-- 查询工作经历 -->
	<select id="findResumeWork" parameterType="String" resultType="Work">
		select * from work where resumeId=#{resumeId} order by workBeginTime
	</select>
	<!-- 查询项目经验 -->
	<select id="findResumeProject" parameterType="String" resultType="Project">
		select * from project where resumeId=#{resumeId} order by projectBeginTime
	</select>
	<!-- 查询培训经历 -->
	<select id="findResumeEducation" parameterType="String" resultType="Education">
		select * from education where resumeId=#{resumeId} order by educationBeginTime
	</select>
	<!-- 查询管理员，通过帐号 -->
	<select id="findLoginByAdminLoginId" parameterType="String" resultType="Admin">
		select * from admin where adminLoginId=#{adminloginId}
	</select>
	<!-- 查找用户通过用户表id -->
	<select id="findUserById" parameterType="Integer" resultType="User">
		select * from user where id=#{userId}
	</select>
	<!-- 查找企业简介 -->
	<select id="findCompanyIntro" parameterType="Integer" resultType="AuditComIntro">
		select c.*,i.* from companyintroduction i,company c where c.id=i.companyId limit #{page},10
	</select>
	<!-- 通过id查找被审核企业 -->
	<select id="auditComIntro" parameterType="Integer" resultType="AuditComIntro">
		select c.*,i.* from companyintroduction i,company c where c.id=i.companyId and c.id=#{id}
	</select>
	<!-- 查找审核公司通过id -->
	<select id="findAuditComById" parameterType="Integer" resultType="AuditComIntro">
		select c.*,i.* from companyintroduction i,company c where c.id=#{id} and c.id=i.companyId
	</select>
	<!-- 通过公司表id查找公司图片 -->
	<select id="findCompanyImgById" parameterType="Integer" resultType="CompanyDetailImg">
		select * from companydetailimg where companyId=#{id}
	</select>
	<!-- 查找需要禁用的个人用户 -->
	<select id="findDisabledUser" resultType="User">
		select * from user order by userStatus desc
	</select>
	<!-- 查找需要禁用的企业用户 -->
	<select id="findDisabledCompany" resultType="Company">
		select * from company order by companyStatus desc
	</select> 
	<!-- 查找企业用户通过企业账号 -->
	<select id="findCompanyByLoginId" parameterType="String" resultType="Company">
		select * from company where companyLoginId=#{companyLoginId}
	</select>
	<!-- 查找个人用户，通过userLoginId -->
	<select id="findUserByLoginId" parameterType="String" resultType="User">
		select * from user where userLoginId=#{userLoginId}
	</select>
	<!-- 查找带有作者的系统消息 -->
	<select id="findSysMsgWithAuth" resultType="SysMessageWithAuthor">
		select admin.adminLoginId,systemmessage.* from admin,systemmessage where admin.id=systemmessage.adminid order by systemmessage.sysmcreatetime desc
	</select>
</mapper>