<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace指定我们后面需要使用的接口的完全限定名 -->
<mapper namespace="ynjh.company.dao.company.CompanyMapper">
	<!-- 牟勇：为完成推荐企业而增加的映射 -->
	<resultMap type="Company" id="CompanyMap">
		<id property="id" column="id"></id>
		<result property="companyLogo" column="companyLogo"/>
		<result property="companyLoginId" column="companyLoginId"/>
		<collection property="reCruits" column="id" select="getRecruits"></collection>
	</resultMap>
	
	<!--
		insert/update/delect标签没有resultType属性，返回值都是int  
		OGNL表达式中，如果参数传入的是基本类型，则直接使用参数名
		如果参数传入的是对象，则直接使用属性名
	-->
	<!-- 添加用户信息 -->
	<insert id="addCompany" parameterType="Company">
		insert into company(
		companyLoginId,companyPassword,companyName,companySimpleName,companyLogo,companyLicenseImg,companyLicenseNo,companyCorporator,
		companyTel,companyEmail,companyAddress,companyStatus) values (#{companyLoginId},#{companyPassword},#{companyName},#{companySimpleName},#{companyLogo},
		#{companyLicenseImg},#{companyLicenseNo},#{companyCorporator},#{companyTel},#{companyEmail},
		#{companyAddress},1)
	</insert> 
	<insert id="addCompanyDetailImg">
		insert into companyDetailImg(companyId,companyDetailImg,companyDetailDisc)values(#{companyId},#{companyDetailImg},#{companyDetailDisc})
	</insert>
	<insert id="addCompanyConnection">
		insert into companyconnection(companyId,cmpConnection,cmpConnectionName)values(#{companyId},#{cmpConnection},#{cmpConnectionName})
	</insert>
	<!-- 更改用户信息 -->
	<update id="updateCompanyById" parameterType="Company">
		update company set companyName=#{companyName},companyLogo=#{companyLogo},companyLicenseImg=#{companyLicenseImg},
		companyLicenseNo=#{companyLicenseNo},companyCorporator=#{companyCorporator},companyTel=#{companyTel},
		companyEmail=#{companyEmail},companyAddress=#{companyAddress},companyStatus=#{companyStatus},companySimpleName=#{companySimpleName} where id=#{id}
	</update>
	<update id="updatePassword" >
		update company set companyPassword=#{companyPassword} where id=#{id}
	</update>
	<update id="updateImg">
		update companyDetailImg set companyDetailImg=#{companyDetailImg} where id=#{id}
	</update>
	<update id="updateCompanyConnection">
		update companyconnection set companyId=#{companyId},cmpConnection=#{cmpConnection},cmpConnectionName=#{cmpConnectionName} where id=#{id}
	</update>
	<!-- 牟勇：根据企业id更改指定的属性值 -->
	<update id="updateCompanyProperty">
		update company set ${column}=#{value} where id=#{companyId}
	</update>
	<delete id="deleteCompanyConnection" parameterType="Integer">
		delete from companyconnection where id=#{id}
	</delete>
	<!-- 牟勇：删除公司环境图片 -->
	<delete id="deleteCompanyEnvirmentImg" parameterType="Integer">
		delete from companydetailimg where id=#{id}
	</delete>
	<!-- 牟勇： 查询到所有的企业 -->
	<select id="findCompanyForCharge" resultType="Company">
		select * from company
	</select>
	<select id="findByloginIdAndPassword" resultType="Company">
		select * from company where companyLoginId=#{companyLoginId} and companyPassword=#{companyPassword}
	</select>
	<select id="findById" parameterType="Integer" resultType="Company">
		select * from company where id=#{id}
	</select>
	<select id="findDetailImg" parameterType="Integer" resultType="CompanyDetailImg">
		select * from companyDetailImg where companyId=#{companyId}
	</select>
	<select id="findCompanyConnection" parameterType="Integer" resultType="CompanyConnection">
		select * from companyconnection where companyId=#{companyId}
	</select>
	<select id="verificationCompanyLoginId" resultType="Company" parameterType="String">
	select companyLoginId from company where companyLoginId=#{companyLoginId}
	</select>
	<!-- 牟勇：根据环境图片id查询这张图片是否存在 -->
	<select id="findByEnvirmentImgId" parameterType="Integer" resultType="Integer">
		select count(*) from companyDetailImg where id=#{id}
	</select>
	<!-- 牟勇：查询指定企业的余额 -->
	<select id="findCompanyMoneyById" parameterType="Integer" resultType="Integer">
		select companyMoney from company where id=#{companyId}
	</select>
	<!-- 牟勇：根据企业发表文章总数，点击数降序，获得id,companySimpleName,文章总数，文章点赞之和，取前10 -->
	<select id="find10CompanyAndRecruitGroupByArticleNumberAndLikeNumber" resultType="map">
		select a.id,count(f.byFollowId) byFollowNumber,max(a.companySimpleName) companySimpleName,max(a.articleNumber) articleNumber,max(a.likeNum) likeNum,max(a.companyLogo) companyLogo,max(a.companyLoginId) companyLoginId 
		from (select  c.id,max(c.companySimpleName) companySimpleName,count(a.id) articleNumber,sum(a.articleLikeNum) likeNum,max(c.companyLogo) companyLogo,max(c.companyLoginId) companyLoginId from company c,article a 
				where c.id=a.usersId
				group by c.id
				limit 0,10) a left join follow f on a.id=f.byFollowId
		group by a.id
		order by a.articleNumber desc,a.likeNum desc
	</select>
	<select id="getRecruits" resultType="CompanyRecruit">
		select * from companyrecruit where companyId=#{id}
	</select>
</mapper>