<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.admin.dao.uservisitcount.UserVisitCountMapper">
	<insert id="addUserVisitCount" parameterType="UserVisitCount">
		insert into uservisitcount(userYear,userMonth,userDay,userCommentCount,userArticleCount,userId) values(#{userYear},#{userMonth},#{userDay},#{userCommentCount},#{userArticleCount},#{userId})
	</insert>
	<update id="updateUserVisitCount" parameterType="UserVisitCount">
		update userVisitCount set userCommentCount=#{userCommentCount},userArticleCount=#{userArticleCount} where userYear=#{userYear} and userMonth=#{userMonth} and userDay=#{userDay}
	</update>
	<select id="findAll" resultType="UserVisitCount">
		select userYear,userMonth,userDay,userCommentCount,userArticleCount,userId from userVisitCount
	</select>
	<select id="findCount" resultType="UserVisitCount">
		select userYear,userMonth,userDay,userCommentCount,userArticleCount,userId 
		from userVisitCount 
		where userYear=#{userYear}
		<if test="userMonth!=null"> and userMonth=#{userMonth}</if>
		<if test="userDay!=null"> and userDay=#{userDay}</if>
		limit #{page},10
	</select>
	<select id="findMaxPage" resultType="int">
		select count(*) from uservisitcount
	</select>
</mapper>