<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.personal.dao.article.ArticleMapper">
	<!-- 写文章 -->
	<insert id="addUserArticle" parameterType="Article">
		insert into article(usersId,articleTitle,articleTime,articleKey,articleContent,articleUsersType)
			value(#{usersId},#{articleTitle},#{articleTime},#{articleKey},#{articleContent},#{articleUsersType})
	</insert>
	
	<!-- 查看文章(详细) -->
	<select id="selectArticleById" parameterType="int" resultType="Article">
	select * from article where id=#{id}
	</select>
	<!-- 修改文章内容 -->
	<update id="updateArticleContent" parameterType="Article">
	update article set articleContent=#{articleContent},articleTitle=#{articleTitle},articleKey=#{articleKey} where id=#{id}
	</update>
	<!--阅读数  -->
	<update id="updateReadNum" >
	update article set articleReadNum=articleReadNum+1 where id=#{id}
	</update>
	<!-- 点赞数 -->
	<update id="updateLikeNum" >
	update article set articleLikeNum=articleLikeNum+1 where id=#{id}
	</update>
	
	<!-- 删文章 -->
	<update id="deleteUserArticle" parameterType="Integer">
	update article set articleStatus=4 where id=#{id} 
	</update>
	<!-- 查看文章(所有) -->
	<select id="selectUserArticle" resultType="Article">
	select * from article where usersId=#{usersId}
	<if test="page!=null">
		limit #{page},5
	</if>
	</select>
	<!-- 恢复被删除文章 -->
	<update id="renewArticle" parameterType="Integer">
	update article set articleStatus=1 where id=#{id} 
	</update>

	<!-- 分页 -->
	<!-- 未被删除文章总数 -->
	 <select id="getMaxRecord" resultType="int" parameterType="Integer">
        select count(*) from article where usersId=#{usersId}
    </select>
  	
</mapper>
