<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ynjh.personal.dao.commentArticle.CommentArticleMapper">
	<!-- 写评论 -->
	<insert id="addUserCommentArticle" parameterType="CommentArticle">
		insert into commentarticle(articleId,userId,commentArticleTime,commentArticleContent,commentArticleStatus)
			value(#{articleId},,#{userId},#{commentArticleTime},#{commentArticleContent},#{commentArticleStatus})
	</insert>
	<!-- 删评论 -->
	 <delete id="deleteUserCommentArticle" parameterType="int">
	delete from commentarticle where id=#{id}
	</delete>
	<!-- 查看评论 -->
	<select id="selectUserCommentArticle" parameterType="int">
	select * from commentarticle where id=#{id},articleId=#{articleId},userId=#{userId}
	</select>
</mapper>
